body{background-color:#f3f3f3;}
.navbar-nav{
  margin-top: 40px;
  background-color: #434446;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
}

.headline{
text-align:center;
}
.headline h2{
color:#7e8c8c;
}

.kotak{
background-color: #fff;

}

.icon{
  border-top: 1px solid;
  border-bottom: 1px solid;
 }