body{background-color:#f3f3f3;font-family: 'Raleway', sans-serif;}
a{color:#fff;}
a:focus, a:hover{color:#ebebeb;}
.navbar-nav{
	margin-top: 40px;
	background-color: #434446;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {width: 100%;}
@media (max-width: 991px) {
.navbar-header{height:100px;}
.navbar-nav{margin-top: 0px;}}
.navbar-toggle{float:left;}
.navbar-brand{float:none;}
.headline{text-align:center;}
.headline h2{
	color:#7e8c8c;
	font-weight:700;
}
.kotak{
	background-color: #fff;
	border-radius: 10px;
	margin: 15px;
	padding-left: 0px;
	padding-right: 0px;
	width: 250px;
}
.kotak p{color:#929c9b;}
@media (max-width: 991px) {
.kotak{width:100%;}}
.icon{
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
}
.desc{padding: 20px;}
.desc h4{color:#000;}
.fa{padding-left: 30px;}
.footer{
	background-color:#434446;
	color:#fff;
	padding: 20px;
}